.inline-block {
  display: inline-block;
  vertical-align: top;
}

.logo {
  width: auto;
 
}

nav {
  width: 100%;
  padding: 1%;
  background-color: #1C5D99;

}

ul {
  width: 50%;
  margin-left: auto;
  float: right;
  padding: 0;
  display: inline;
}


.heroImg {
  height: auto;
  width: 5px;
  padding: 25px;
}

.content {
  width: 500px;
  margin: 0 auto;
}

footer {
  background-color: #373738;
  padding: 25px;
}

